<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haige.db.mapper.AuthCodeDOMapper">
  <resultMap id="BaseResultMap" type="com.haige.db.entity.AuthCodeDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="sendTime" jdbcType="VARCHAR" property="sendtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mobile, ip, type, sendTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from housekeeping_auth_code
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from housekeeping_auth_code
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.haige.db.entity.AuthCodeDO">
    insert into housekeeping_auth_code (id, mobile, ip, 
      type, sendTime)
    values (#{id,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{sendtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.haige.db.entity.AuthCodeDO">
    insert into housekeeping_auth_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="sendtime != null">
        sendTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null">
        #{sendtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.haige.db.entity.AuthCodeDO">
    update housekeeping_auth_code
    <set>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null">
        sendTime = #{sendtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haige.db.entity.AuthCodeDO">
    update housekeeping_auth_code
    set mobile = #{mobile,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      sendTime = #{sendtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findByIphone"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from housekeeping_auth_code
    where mobile = #{iphone}
    and sendTime = #{date}
  </select>
  <select id="findByIp" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from housekeeping_auth_code
    where ip = #{ip}
    and sendTime = #{date}
  </select>
</mapper>