<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haige.db.mapper.CommontDOMapper">
  <resultMap id="BaseResultMap" type="com.haige.db.entity.CommontDO">
    <id column="commont_id" jdbcType="BIGINT" property="commontId" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="commont_date" jdbcType="VARCHAR" property="commontDate" />
    <result column="commentator_id" jdbcType="VARCHAR" property="commentatorId" />
    <result column="commont_desc" jdbcType="VARCHAR" property="commontDesc" />
    <result column="is_del" jdbcType="VARCHAR" property="isDel" />
    <result column="modify_date" jdbcType="VARCHAR" property="modifyDate" />
  </resultMap>
  <sql id="Base_Column_List">
    commont_id, goods_id, commont_date, commentator_id, commont_desc, is_del, modify_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from haige_commont
    where commont_id = #{commontId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from haige_commont
    where commont_id = #{commontId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.haige.db.entity.CommontDO">
    insert into haige_commont (commont_id, goods_id, commont_date, 
      commentator_id, commont_desc, is_del, 
      modify_date)
    values (#{commontId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{commontDate,jdbcType=VARCHAR}, 
      #{commentatorId,jdbcType=VARCHAR}, #{commontDesc,jdbcType=VARCHAR}, #{isDel,jdbcType=VARCHAR}, 
      #{modifyDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.haige.db.entity.CommontDO">
    insert into haige_commont
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commontId != null">
        commont_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="commontDate != null">
        commont_date,
      </if>
      <if test="commentatorId != null">
        commentator_id,
      </if>
      <if test="commontDesc != null">
        commont_desc,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commontId != null">
        #{commontId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="commontDate != null">
        #{commontDate,jdbcType=VARCHAR},
      </if>
      <if test="commentatorId != null">
        #{commentatorId,jdbcType=VARCHAR},
      </if>
      <if test="commontDesc != null">
        #{commontDesc,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.haige.db.entity.CommontDO">
    update haige_commont
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="commontDate != null">
        commont_date = #{commontDate,jdbcType=VARCHAR},
      </if>
      <if test="commentatorId != null">
        commentator_id = #{commentatorId,jdbcType=VARCHAR},
      </if>
      <if test="commontDesc != null">
        commont_desc = #{commontDesc,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=VARCHAR},
      </if>
    </set>
    where commont_id = #{commontId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haige.db.entity.CommontDO">
    update haige_commont
    set goods_id = #{goodsId,jdbcType=BIGINT},
      commont_date = #{commontDate,jdbcType=VARCHAR},
      commentator_id = #{commentatorId,jdbcType=VARCHAR},
      commont_desc = #{commontDesc,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=VARCHAR}
    where commont_id = #{commontId,jdbcType=BIGINT}
  </update>
</mapper>