<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haige.db.mapper.ServeDetailDOMapper">
  <resultMap id="BaseResultMap" type="com.haige.db.entity.ServeDetailDO">
    <id column="serve_id" jdbcType="INTEGER" property="serveId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="serve_user_id" jdbcType="INTEGER" property="serveUserId" />
    <result column="serve_create_user" jdbcType="INTEGER" property="serveCreateUser" />
    <result column="serve_create_time" jdbcType="TIMESTAMP" property="serveCreateTime" />
    <result column="serve_update_user" jdbcType="INTEGER" property="serveUpdateUser" />
    <result column="serve_update_time" jdbcType="TIMESTAMP" property="serveUpdateTime" />
    <result column="serve_status" jdbcType="VARCHAR" property="serveStatus" />
    <result column="serve_start_time" jdbcType="TIMESTAMP" property="serveStartTime" />
    <result column="serve_end_time" jdbcType="TIMESTAMP" property="serveEndTime" />
    <result column="concat_iphone" jdbcType="VARCHAR" property="concatIphone" />
    <result column="concat_name" jdbcType="VARCHAR" property="concatName" />
    <result column="concat_address" jdbcType="VARCHAR" property="concatAddress" />
  </resultMap>
  <sql id="Base_Column_List">
    serve_id, order_id, serve_user_id, serve_create_user, serve_create_time, serve_update_user, 
    serve_update_time, serve_status, serve_start_time, serve_end_time, concat_iphone, concat_name, concat_address
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from haige_order_serve_details
    where serve_id = #{serveId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from haige_order_serve_details
    where serve_id = #{serveId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.haige.db.entity.ServeDetailDO">
    insert into haige_order_serve_details (serve_id, order_id, serve_user_id, 
      serve_create_user, serve_create_time, serve_update_user, 
      serve_update_time, serve_status, serve_start_time, 
      serve_end_time, concat_iphone, concat_name, concat_address)
    values (#{serveId,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{serveUserId,jdbcType=INTEGER},
      #{serveCreateUser,jdbcType=INTEGER}, #{serveCreateTime,jdbcType=TIMESTAMP}, #{serveUpdateUser,jdbcType=INTEGER}, 
      #{serveUpdateTime,jdbcType=TIMESTAMP}, #{serveStatus,jdbcType=VARCHAR}, #{serveStartTime,jdbcType=TIMESTAMP}, 
      #{serveEndTime,jdbcType=TIMESTAMP}),
      #{concatIphone,jdbcType=VARCHAR}),
      #{concatName,jdbcType=VARCHAR}),
      #{concatAddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.haige.db.entity.ServeDetailDO">
    insert into haige_order_serve_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serveId != null">
        serve_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="serveUserId != null">
        serve_user_id,
      </if>
      <if test="serveCreateUser != null">
        serve_create_user,
      </if>
      <if test="serveCreateTime != null">
        serve_create_time,
      </if>
      <if test="serveUpdateUser != null">
        serve_update_user,
      </if>
      <if test="serveUpdateTime != null">
        serve_update_time,
      </if>
      <if test="serveStatus != null">
        serve_status,
      </if>
      <if test="serveStartTime != null">
        serve_start_time,
      </if>
      <if test="serveEndTime != null">
        serve_end_time,
      </if>
      <if test="concatIphone != null">
        concat_iphone,
      </if>
      <if test="concatName != null">
        concat_name,
      </if>
      <if test="concatAddress != null">
        concat_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serveId != null">
        #{serveId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="serveUserId != null">
        #{serveUserId,jdbcType=INTEGER},
      </if>
      <if test="serveCreateUser != null">
        #{serveCreateUser,jdbcType=INTEGER},
      </if>
      <if test="serveCreateTime != null">
        #{serveCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serveUpdateUser != null">
        #{serveUpdateUser,jdbcType=INTEGER},
      </if>
      <if test="serveUpdateTime != null">
        #{serveUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serveStatus != null">
        #{serveStatus,jdbcType=VARCHAR},
      </if>
      <if test="serveStartTime != null">
        #{serveStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serveEndTime != null">
        #{serveEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="concatIphone != null">
        #{concatIphone,jdbcType=VARCHAR},
      </if>
      <if test="concatName != null">
        #{concatName,jdbcType=VARCHAR},
      </if>
      <if test="concatAddress != null">
        #{concatAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.haige.db.entity.ServeDetailDO">
    update haige_order_serve_details
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="serveUserId != null">
        serve_user_id = #{serveUserId,jdbcType=INTEGER},
      </if>
      <if test="serveCreateUser != null">
        serve_create_user = #{serveCreateUser,jdbcType=INTEGER},
      </if>
      <if test="serveCreateTime != null">
        serve_create_time = #{serveCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serveUpdateUser != null">
        serve_update_user = #{serveUpdateUser,jdbcType=INTEGER},
      </if>
      <if test="serveUpdateTime != null">
        serve_update_time = #{serveUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serveStatus != null">
        serve_status = #{serveStatus,jdbcType=VARCHAR},
      </if>
      <if test="serveStartTime != null">
        serve_start_time = #{serveStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serveEndTime != null">
        serve_end_time = #{serveEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="concatIphone != null">
        concat_iphone = #{concatIphone,jdbcType=VARCHAR},
      </if>
      <if test="concatName != null">
        concat_name = #{concatName,jdbcType=VARCHAR},
      </if>
      <if test="concatAddress != null">
        concat_address = #{concatAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where serve_id = #{serveId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haige.db.entity.ServeDetailDO">
    update haige_order_serve_details
    set order_id = #{orderId,jdbcType=VARCHAR},
      serve_user_id = #{serveUserId,jdbcType=INTEGER},
      serve_create_user = #{serveCreateUser,jdbcType=INTEGER},
      serve_create_time = #{serveCreateTime,jdbcType=TIMESTAMP},
      serve_update_user = #{serveUpdateUser,jdbcType=INTEGER},
      serve_update_time = #{serveUpdateTime,jdbcType=TIMESTAMP},
      serve_status = #{serveStatus,jdbcType=VARCHAR},
      serve_start_time = #{serveStartTime,jdbcType=TIMESTAMP},
      serve_end_time = #{serveEndTime,jdbcType=TIMESTAMP},
      concat_iphone = #{concatIphone,jdbcType=VARCHAR},
      concat_name = #{concatName,jdbcType=VARCHAR},
      concat_address = #{concatAddress,jdbcType=VARCHAR}
    where serve_id = #{serveId,jdbcType=INTEGER}
  </update>

  <select id="findServeDetailDOList" resultType="java.util.Map" parameterType = "java.util.HashMap">
    select a.order_id,b.goods_id,b.goods_name,b.order_price,a.serve_status,serve_create_time from haige_order_serve_details a
    left join haige_order_info b
    on a.order_id = b.order_id
    <where>
      <if test="userid != 0">
        a.serve_create_user = #{userid,jdbcType=INTEGER}
      </if>
      <if test="status != 0">
        AND a.serve_status = #{status,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>