<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haige.db.mapperExtend.ReportMapper">
    <resultMap id="BaseResultMap" type="com.haige.db.entity.ReportMonthDO">
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
    </resultMap>

    <select id="month" resultMap="BaseResultMap">
      SELECT user_base.UBD_POLICE_NAME as name, count(*) as count from haige_order_serve_details details, haige_sys_user_base_dtls user_base
        where details.serve_user_id = user_base.UBD_ID
        AND serve_create_time > #{month}
        GROUP BY user_base.UBD_ID
    </select>
    <resultMap id="employeeServiceNumber" type="com.haige.db.entity.EmployeeServiceNumberDO">
        <result column="employee_name" jdbcType="VARCHAR" property="employeeName"/>
        <result column="number" jdbcType="INTEGER" property="number"/>
    </resultMap>
    <sql id="employeeServiceNumber">
      UBD_POLICE_NAME as employee_name, count(1) as number
    </sql>
    <select id="employeeServiceNumber" resultMap="employeeServiceNumber">
        SELECT
        <include refid="employeeServiceNumber"/>
        from haige_order_serve_details, haige_sys_user_base_dtls
        where haige_order_serve_details.serve_user_id = haige_sys_user_base_dtls.UBD_ID
        and serve_create_time between #{start} and #{end}
        group by UBD_POLICE_NAME
    </select>
</mapper>