<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haige.db.mapperExtend.UserBaseDOExtendMapper">
  <select id="findByManagerIphone" resultType="String">
    select
    userbase.UBD_FIXED_PHONE
    from haige_order_info orderinfo, haige_goods_info goodsinfo, haige_sys_user_base_dtls userbase
    where orderinfo.goods_id = goodsinfo.goods_Id
    AND goodsinfo.goods_create_user = userbase.UBD_ID
    <if test="orderId != null">
      AND orderinfo.order_id = #{orderId}
    </if>
  </select>
</mapper>